body{
    background: linear-gradient(to right, #b5d2f1, #91c8e5);
    background-size: cover;
    text-align: center;
    
}

h1{
    font: normal 30pt Arial;
    color: rgb(255, 255, 255);
}



header{
    color: white;
    text-align: center;
}

button{
    background-color: rgb(66, 104, 255);
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 5px;

}

section{
    padding: 15px;
    background-color:rgba(255, 255, 255, 0.341);
    color: #000000;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #134eff;
}

/* tabuada */

.tabuada{
    background-color: #99c5ff;
    color: rgb(0, 1, 79);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.tabuadasbt{
    background-color: rgb(66, 104, 255);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}